<section class="info__about-us">
    <h2 class="info__about-us_title caption">Design Life Kids</h2>
    <p class="info__about-us_subtitle subtitle">About Us</p>
    <p class="info__about-us__text">
        Some days i feel like i've been working on dlk my entire life and there are other days that
        i am completely shocked that four years have flown by. It's simply magical.
    </p>
    @@include('button/index.html', {
      "class": "info__about-us__button",
      "text":"Buy now"
    })
</section>