<section class="delivery container">
    <h2 class="delivery_title visually-hidden">Delivery</h2>
    <img src="/static/images/delivery.png" alt="woman" class="delivery__img"  width="480" height="559">
    <div class="delivery__txt">
        <h2 class="delivery__txt_subtitle caption">Delivery</h2>
        <ul class="delivery__txt_list">
            <li class="delivery__txt_item">
                <button class="delivery__txt__btn delivery__txt__btn_active">Delivery</button>
            </li>
            <li class="delivery__txt_item">
                <button class="delivery__txt__btn">Guarantee</button>
            </li>
            <li class="delivery__txt_item">
                <button class="delivery__txt__btn">Credit</button>
            </li>
        </ul>
        <p class="delivery__txt__desc">
            Some days i feel like i've been working on dlk my entire life and there are other days that
            i am completely
            shocked that four years have flown by. It's simply magical.
        </p>
        <p class="delivery__txt__desc">
            What started as an outlet to deal with the traumatic loss of my husband, dlk has now become a truly
            happy
            place for me and i have you and all of the beautiful designers that we work with to thank!
        </p>
        <a href="#" class="delivery__txt_link btn">LEARN MORE</a>
    </div>
</section>