.product {
    margin-top: 55px;
    margin-left: 220px;
    margin-bottom: 55px;
    max-width: 680px;
    &_title {
        font-size: 38px;
        line-height: 46px;
    }
    &__desc{
        margin-top: 15px;
        &:nth-child(2) {
            margin-top: 25px;
        }
    }
}
