<section class="toys container">
    <h2 class="toys_title visually-hidden">Toys</h2>
    <ul class="toys_list">
        @@include('toys/toys-card.html', {
            "href":"#",
            "img":"/static/images/Sharky.png",
            "alt":"product picture",
            "desc":"Sharky bean bag chair cover",
            "text":"$60.00 USD"
        })
        @@include('toys/toys-card.html', {
            "href":"#",
            "img":"/static/images/Brass.png",
            "alt":"product picture",
            "desc":"Brass deco frames",
            "text":"$66.00 USD"
        })
        @@include('toys/toys-card.html', {
            "href":"#",
            "img":"/static/images/Cibo.png",
            "alt":"product picture",
            "desc":"Cibo full aproner",
            "text":"$60.00 USD"
        })
        @@include('toys/toys-card.html', {
            "href":"#",
            "img":"/static/images/Gatcha.png",
            "alt":"product picture",
            "desc":"Gatcha gatcha gumball machine",
            "text":"$56.00 USD"
        })
        @@include('toys/toys-card.html', {
            "href":"#",
            "img":"/static/images/Christmas.png",
            "alt":"product picture",
            "desc":"Chrismas advent scented candle",
            "text":"$29.00 USD"
        })
        @@include('toys/toys-card.html', {
            "href":"#",
            "img":"/static/images/Tangle.png",
            "alt":"product picture",
            "desc":"Tangle sprinning tea light",
            "text":"$56.00 USD"
        })
    </ul>
@@include('pagination/index.html')
</section>    