<header class="header container">
  <a href="../../pages/main/index.html"><img src="/static/images/Logo.png" alt="company logo" class="header__img" Width="100" height="52" aria-label="Go main page"></a>
  <nav class="header__nav">
      <ul class="header__nav_list">
          <li class="header__nav_item">
              <a href="../../pages/blog/index.html" class="header__nav_link">Blog</a>
          </li>
          <li class="header__nav_item">
              <a href="../../pages/catalog/index.html" class="header__nav_link">Catalog</a>
          </li>
          <li class="header__nav_item">
              <a href="../../pages/toys/index.html" class="header__nav_link">Toys</a>
          </li>
      </ul>
  </nav>
  <button class="header__search" aria-label="search">
      <img src="/static/images/search.png" alt="loupe" class="header__search__img" width="17" height="17">
  </button>
  <a href="/pages/contact/index.html" class="header__contact">Contact us</a>
</header>