.partners {
    margin-top: 91px;
    max-width: 1180px;
    &_list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &_item{
        padding-right: 127px;
        &:hover{
            opacity: 0.5;
            cursor: pointer;
        }
        &:active{
            opacity: 0.2;
            cursor: pointer;
        }
        &:last-child{
            padding-right: 0px;
        }
    }    
}
