<section class="partners container">
    <h2 class="partners_title visually-hidden">partners</h2>
    <ul class="partners_list">
        <li class="partners_item">
            <a href="#" class="partners_link"><img src="/static/images/partners/mail.png" alt=" logo mail"
                    class="partners__img"  width="193" height="60"></a>
        </li>
        <li class="partners_item">
            <a href="#" class="partners_link"><img src="/static/images/partners/apple.png" alt="logo apple"
                    class="partners__img"  width="179" height="61"></a>
        </li>
        <li class="partners_item">
            <a href="#" class="partners_link"><img src="/static/images/partners/eltex.png" alt="logo eltex"
                    class="partners__img"  width="216" height="46"></a>
        </li>
        <li class="partners_item">
            <a href="#" class="partners_link"><img src="/static/images/partners/owox.png" alt="logo owox"
                    class="partners__img"  width="211" height="40"></a>
        </li>
    </ul>
</section>