.footer{
  margin-top: 48px;
  background-color: #434343;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;
    padding-left: 20px;
    padding-bottom: 23px;
    border-bottom: 1px solid #666666;
  }
  &__text{
    margin-top: 99px;
    padding-bottom: 23px;
    width: 380px;
    border-bottom: 1px solid #666666;
    color: #AAAAAA;
  }
  &_list {
    margin-top: 28px;
  }
  &__connect__text {
    margin-top: 16px;
    color: #AAAAAA;
  }
  &__navigation_item{
    margin-top: 15px;
    text-decoration: none;
     color: #FFFFFF;
     &:last-child{
      margin-bottom: 5px;
    }
  }
  &__customer_item{
    margin-top: 15px;
    &:last-child{
      margin-bottom: 5px;
    }
  }
  &_link {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.4s;
    &:hover{
    opacity: 0.5;
    }
    &:active{
      opacity: 0.2;
    }
  }
  &__connect{
    &__form{
      display: flex;
      flex-direction: row;
      &__input {
        margin-top: 25px;
        width: 283px;
        height: 40px;
        border: none;
        padding-left: 15px;
        padding-top: 0;
        padding-bottom: 0;
        color: #EBEBEB;
        background-color: #666666;
        transition: 0.4s;
        &::placeholder{
          color: #EBEBEB;
        }
        &:hover{
          border: 1px solid #FFFDFD;
        }
        &:active{
          border: 1px solid #FFFDFD;
        }      
      }
      &__button{
        margin-top: 25px;
        width: 80px;
      }
    }
    &__social_list{
      display: flex;
      flex-direction: row;
      margin-top: 25px;
      margin-bottom: 32px;
    }
    &__social_item{
      padding-right: 10px;
    }  
    &__social_link{
      transition: 0.4s;
      &:hover path{
        opacity: 0.5;
      }
      &:active path{
        opacity: 0.2;
      }
    }
  }
    &__bottom-rating{
    display: flex;
    flex-direction: row-reverse;
    &__desc{
      padding-right: 110px;
      color: #FFFFFF;
      margin-bottom: 104px;
      position: absolute; 
      top: -1px;
      left: -148px;
      color: #FFFFFF;
    }
    &__group{
      position: relative;
      margin-bottom: 89px;
      margin-left: 148px;
      width: 97px;
      height: 16px;
      background-image: url('/static/images/StarOff.svg');
      background-size: 20px 16px;
      background-repeat: repeat-x;
      }
    &__input{
      transition: .4s;
      &:checked ~ span{
        color: #C29974;
      }
      &:focus + label {
        outline-color: #000000;
        outline-offset: 3px;
        outline-style: auto;
        outline-width: 5px;
      }
      &:checked ~ .footer__bottom-rating__desc{
        color: #C29974;
      }
      &:checked + .footer__bottom-rating__star{
        background-image: url('/static/images/StarOn.svg');
      cursor: pointer;
      }
    }
    &__text{
      padding-top: 15px;
      padding-left: 45px;
      color: #FFFFFF;
      margin-bottom: 104px;
    }
    &_link{
      text-decoration: none;
      color: #A2A2A2;
      padding-top: 23px;
      padding-right: 82px;
      margin-bottom: 110px;
      transition: .4s;
      &:hover{
        text-decoration: underline;
        cursor: pointer;
        color: #FFFFFF;
      }
      &:active{
        text-decoration: underline;
        color: #FFFFFF;
      }
    }  
    &__star{
      position: absolute;
      top: 0px;
      left: 0px;
      margin: 0px;
      width: 17px;
      height: 16px;
      font-size: inherit;
      background-size: 20px 16px;
      appearance: none;
      transition: .4s;
      &:hover ~ span{
        color: #C29974;
      }
      &:hover {
        background-image: url('/static/images/StarOn.svg');
        cursor: pointer;
      }
      &:hover ~ .footer__bottom-rating__star{
        background-image: url('/static/images/StarOff.svg');
      }
      &:nth-of-type(1){
        width: 17px;
        z-index: 5;
      }
      &:nth-of-type(2){
        width: 37px;
        z-index: 4;
      }
      &:nth-of-type(3){
        width: 57px;
        z-index: 3;
      }
      &:nth-of-type(4){
        width: 77px;
        z-index: 2;
      }
      &:nth-of-type(5){
        width: 97px;
        z-index: 1;
      }
    }    
  }
}

